@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Welcome to Code Web</h1>
    <p>Place to Explore Your Programming skills</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a></p>
</div>